.movieContainer{
  display: flex;
  margin: 2rem auto;
  max-width: 800px;
  flex-direction: column;
  color: #ffff;
}

.movieContainer svg{
  font-size: 1.5rem;
  color: #f7d354;
}

.header{
  display: grid;
  gap: 2rem;
  padding: 1rem 1rem 2rem 1rem;
  grid-template-columns: 40% 60% ;
  width: 100%;
  background-color: rgb(18, 18, 18,.8);
}

.contentHeader{
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.genres{
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 100px 100px;
  gap: .5rem;
  width: 100%;
  padding-right: 1rem;
}
.genres div{
  display: flex;
  align-items: center;
  text-align: center;
  width: fit-content;
  justify-content: center;
  background-color:rgb(18, 18, 18,.5);
  padding: .4rem .7rem;
  border-radius: .4rem;
  border: 1px solid #f7d354 ;
  pointer-events: none;
}

.movieStar{
  text-align: center;
}
.movieStar{
  display: flex;
  align-items: center;
  gap: .4rem;
}

.info{
  padding-block: 1rem;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  gap: .5rem;
  border-bottom: 1px solid hsl(47, 91%, 65%,.2);
}
.info p{
  display: flex;
  align-items: center;
}

.info h3{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.info a{
  color: white;
}
.infoDescription {
  text-align: justify;
  
  margin-bottom: 1rem;
}
.infoDescription p{
  padding-inline: 1rem;
  line-height: 1.5rem;
}

.infoDescription h3{
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  border-bottom: 1px solid hsl(47, 91%, 65%,.2);
}

.backTop{
  align-self: center;
  margin-top: 2rem;
  cursor: pointer;
  color: #f7d354;
  padding: 1rem;
}
.contentHeader .info{
    margin-right: 2rem;
  }

.backTop:hover{
  text-decoration: underline;
}

@media (max-width:40rem){
  .info{
    flex-direction: column;
  }
  
}