.container{
  max-width: 1300px;
  padding-inline: 32px;
  padding-block: 5rem;
  overflow: hidden;
  margin: 0 auto;
  min-height: calc(100vh + 3.8rem);
  border-radius: 4px;
}
.content{
  margin-bottom: 5rem;
  padding: 4rem;
  border-radius: 4px;
  background-color: #1e1d1d;
  border: 1px solid rgba(128, 128, 128, 0.26);
}
.title{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 5rem;
  border-left: 3px solid #f7d354;
  padding-left: 0.5rem;
  transition: 1s;
}
.info{
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.title:hover{
  border-left: 3px solid #eee;
}
.username{
  display: flex;
  align-items: center;
  width: fit-content;
  margin:0 auto;
  margin-bottom: 3rem;
  font-size: 3rem;
  transition: 1s;
  cursor: pointer;
}
.username svg{
  transition: 1s ease;
  margin-right: .2rem;
}
.username:hover svg{
  fill: #eee;
}
.avarege {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

@media (max-width:800px){
  .content{
    padding: 1rem;
  }
  .username{
    font-size: 2.5rem;
  }
  .info{
    font-size: 1.3rem;
  }
}