.container{
  max-width: 1300px;
  padding-inline: 32px;
  overflow: hidden;
  margin: 0 auto;
  min-height: calc(100vh + 3.8rem);
  border-radius: 4px;
}

.title{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  margin-block: 3rem;
  border-left: 3px solid #f7d354;
  padding-left: 0.5rem;
  transition: 1s;
}
.title:hover{
  border-left: 3px solid #eee;
}
.username{
  cursor: pointer;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.avarege {
  color: #f7d354;
}