.commentsContainer{
  display: flex;
  flex-direction: column;
  background-color: #f7d354;
  color: black;
  border-radius: .4rem;
}
.contentComments{
  margin-bottom: 2rem;

}

.img{
  display: grid;
  grid-template-columns: 4rem 1fr;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

.user{
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.user p:nth-child(1){
  font-weight: bold;
}
.comment{
  padding-inline: 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: justify;
}

.notComments{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}