.footerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 212, 85);
  
}



.footerContent{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;
  padding-block: 4rem;
  color: black;
  bottom: 0;
}

.footerContent svg{
  font-size: 1.2rem;
}