

.container{
  height: 98vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__text {
  margin-top: 5px;
  margin-left: -2.7px;
  color: #f7d354;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.loader__filmstrip {
  position: relative;
  overflow: hidden;
  width: 65px;
  height: 70px;
  background: #333333;
  z-index: -1;
}
.loader__filmstrip:before, .loader__filmstrip:after {
  content: "";
  position: absolute;
  height: 120%;
  border-left: 5px dashed #f7d354;
  -webkit-animation: roll 50ms infinite;
          animation: roll 100ms infinite;
}
.loader__filmstrip:before {
  left: 5px;
}
.loader__filmstrip:after {
  right: 5px;
}

@-webkit-keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}

@keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}