.container{
  padding-inline: 32px;
  margin-block: 7rem;
}


.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.header a{
  background-color: black;
  border:2px solid #f7d354;
  border-radius: 4px;
  color:#f7d354;;
  padding: .4rem;
  font-size: 1rem;
  transition: .5s;
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: .2rem;
  font-weight: bold;
  
}

.header a:hover {
  background-color: #f7d354;
  color: #000000;
  
}


.cards{
  display: grid;
  padding-block: .8rem;
  margin-bottom: 2rem;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: flex-start;
  gap: 3.7rem;

}

.cards img{
  position: relative;
  border-radius: 5px;
  transition: 1s;
}
.cards img:hover{
  border-radius: 5px;
  transform: scale(1.1);
}


.titleMovie{
  display: -webkit-box;
-webkit-line-clamp: 1; /** número de linhas que você quer exibir */
position: relative;
font-size: .9rem;
z-index: 2;
color: white;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

@media (max-width:80rem){
  .cards{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 1rem;
  }
}
@media (max-width:50rem){
  .cards{
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1rem;
  }
}


