.swiper{
  padding: 32px;
  margin-top: 5rem;

}

.swiper-slide{
  display: flex;
  border-radius: 4px;
}



.swiper-pagination-bullet-active{
  background-color: yellow;
}

.swiper-button-prev,
.swiper-button-next{
  color: #718096;
  
}