.swiper{
  padding: 32px;

}

.swiper-slide{
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 0;
  border-radius: 4px;
}

.swiper-slide .text{
  color: white;
  display: -webkit-box;
  position: absolute;
  top: 100%;
  -webkit-line-clamp: 1; /** número de linhas que você quer exibir */
  z-index: 50;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
}



.swiper-pagination-bullet-active{
  background-color: yellow;
}

.swiper-button-prev,
.swiper-button-next{
  color: #718096;
  
}