.container{
  overflow: hidden;
}

.content{
  display:flex;
  transition: transform .3s ease;
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: black;
  width: 30%;
  padding: 1rem;
  margin-right: 1.8rem;
  position: relative;
  border-radius: 4px;
  background-color: #141414;
}

.nav{
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 95%;
  
}

.nav button:nth-child(1){
  margin-left: -2%;
}
.nav button{
  background: #f7d354;
  border-radius: .4rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img{
  border-radius: .5rem;
}
